/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
}
/*所有页面实现毛玻璃特效*/

#aside-content,
#search-mask,
/* 手机端 */
#sidebar #menu-mask {
  background: rgba(255, 255, 255, 0);
}

.search-dialog {
  border-radius: 0px;
}

/* 浅色模式 */
html[data-theme="light"] #aside-content>.card-widget:first-child,
html[data-theme="light"] #aside-content .card-widget,
html[data-theme="light"] .layout>div:first-child:not(.recent-posts),
html[data-theme="light"] #recent-posts>.recent-post-item,
/* 标题栏 */
html[data-theme="light"] #page-header.nav-visible #nav,
/* 搜索框 */
html[data-theme="light"] .search-dialog,
/* 移动端 */
html[data-theme="light"] #sidebar #sidebar-menus.open {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}

/* 深色模式 */
html[data-theme="dark"] #aside-content>.card-widget:first-child,
html[data-theme="dark"] #aside-content .card-widget,
html[data-theme="dark"] .layout>div:first-child:not(.recent-posts),
html[data-theme="dark"] #recent-posts>.recent-post-item,
/* 标题栏 */
html[data-theme="dark"] #page-header.nav-visible #nav,
/* 搜索框 */
html[data-theme="dark"] .search-dialog,
/* 移动端 */
html[data-theme="dark"] #sidebar #sidebar-menus.open {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
}
/*标题栏*/
#page-header.nav-visible #nav {
   
   
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(50px);
}
/*搜索框美化*/
.search-dialog {
   
   
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 0px;
}

#search-mask {
   
   
    background: rgba

